<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav2    f14 ">
                <div class="container " style="width:100%;overflow:hidden;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle-sm" data-toggle="collapse" data-target="#king-horizontal-nav2-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo3.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-horizontal-nav2-collapse">
                        <ul class="nav navbar-nav">
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}">首页</a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}helloworld/"><span>hello world</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}helloBlueking/"><span>Congratulation</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}modelsData/"><span>MagicBox</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}diskListenerHtml/"><span>磁盘使用率</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}executionScript/"><span>自定义API</span></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <span>管理者</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="king-block king-block-bordered king-block-themed mb0">
                            <div class="king-block-header king-info">
                                <ul class="king-block-options">
                                    <li>
                                        <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                                    </li>
                                </ul>
                                <h3 class="king-block-title">执行页面</h3>
                            </div>
                            <div class="king-block-content">
                                <form class="form-horizontal" id="getScriptData">
                                    {% csrf_token %}
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">timeout：</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control bk-valign-top" name="timeout" id="timeout" value=1 placeholder="默认1秒"> </div>
                                    </div>
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">执行脚本：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bk-valign-top" name="script_content" id="script_content" placeholder="脚本内容"> </div>
                                    </div>
                                </form>
                                <form class="form-horizontal">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button type="button" class="king-btn mr10  king-success" id="submitData">提交</button>
                                            <button type="reset" class="king-btn king-default">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="king-block king-block-bordered king-block-themed mb0">
                            <div class="king-block-header king-info">
                                <ul class="king-block-options">
                                    <li>
                                        <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                                    </li>
                                </ul>
                                <h3 class="king-block-title">执行结果</h3>
                            </div>
                            <div class="king-block-content" id="scriptDiv">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#submitData").click(function(){

                var datas = $('#getScriptData').serialize();
                $.ajax({
                    url: "{% url 'framework:executionScript' %}",
                    type: 'post',
                    dataType:'json',
                    data: datas,
                    success: function(res){
                        $("#scriptDiv").html("<ul class=\"list-group\" id='script_content'></ul>");
                        var rs = res.data;

                        for (var i in rs ) {
                            $("#script_content").append("<li class=\"list-group-item\">"+rs[i]+"</li>");
                        }
                     }
                });
            });
        });
    </script>
</body>

</html>