<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav2    f14 ">
                <div class="container " style="width:100%;overflow:hidden;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle-sm" data-toggle="collapse" data-target="#king-horizontal-nav2-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo3.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-horizontal-nav2-collapse">
                        <ul class="nav navbar-nav">
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}">首页</a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}helloworld/"><span>hello world</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}helloBlueking/"><span>Congratulation</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}modelsData/"><span>MagicBox</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}diskListenerHtml/"><span>磁盘使用率</span></a></li>
                            <li class="king-navbar-active"><a href="{{ SITE_URL }}getUsageData/"><span>自定义API</span></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <span>管理者</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-10">
                        <div class="king-panel8 m15">
                            <div class="king-panel8-header">
                                <h3 class="king-panel8-title king-info">磁盘使用率查询参数</h3>
                            </div>
                            <div class="king-panel8-content pt25">
                                <form class="form-horizontal" id="getFormData">
                                     {% csrf_token %}
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">IP地址：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bk-valign-top" name="ip" placeholder="如：127.0.0.1"> </div>
                                    </div>
                                    <div class="form-group clearfix ">
                                        <label class="control-label col-sm-3 bk-lh30 pt0">使用系统：</label>
                                        <div class="col-sm-9">
                                            <div class="radio pt0">
                                                <label class="mr10">
                                                    <input type="radio" name="system" id="" class="bk-top5" value="windows" checked="checked">
                                                    <span class="bk-lh30">windows</span>
                                                </label>
                                                <label class="mr10">
                                                    <input type="radio" name="system" id="" class="bk-top5" value="linux">
                                                    <span class="bk-lh30">linux</span>
                                                </label>
                                                <label class="mr10">
                                                    <input type="radio" name="system" id="" class="bk-top5" value="macOS">
                                                    <span class="bk-lh30">macOS</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">磁盘：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bk-valign-top" name="disk" placeholder="如：C"> </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button type="button" class="king-btn mr10  king-success" id="submitData">提交</button>
                                            <button type="reset" class="king-btn king-default ">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="king-panel8 m15">
                <div class="king-panel8-header">
                    <h3 class="king-panel8-title king-info">磁盘使用率结果</h3>
                </div>
                <div class="king-panel8-content pt25">
                    <div style="height: 300px; position: relative;" id="chart_1560496773217" class="king-chart-box chart-line  k-chart" data-role="chart"></div>
                </div>
                </div>
                    </div>
                    <div class="col-md-2">
                        <div class="king-panel8 m15">
                            <div class="king-panel8-header">
                                <h3 class="king-panel8-title king-info">查询时间</h3>
                            </div>
                            <div class="king-panel8-content pt25">
                                <ul class="king-timeline-simple" id="diskTime"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 创建图表
        function createKendoLineChart(conf){
            $(conf.selector).kendoChart({
                transitions: false,
                legend: {
                   position: "bottom"
                },
                colors: ['yellow'],
                theme : 'bootstrap',
                seriesDefaults: {
                    type: 'line',
                    style: "smooth",
                    markers: {
                        visible: false
                    }
                },
                series: conf.data.series,
                categoryAxis: {
                    majorGridLines : {
                        visible: false
                    },
                    categories: conf.data.categories,
                    labels: {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= category # #= value #"
                }
            });
            //重新绘制
            $(window).on('resize',function(){
                var chart = $(conf.selector).data("kendoChart");
                chart.redraw();
            });
        }
        var jsondata = {};
        $("#submitData").click(function(){
            var datas = $('#getFormData').serialize();
            $.ajax({
                url: "{% url 'framework:getUsageData' %}",
                type: 'post',
                dataType:'json',
                data: datas,
                success: function(res){
                    if (res.result){
                        diskUsage(res.data);
                        keys = [];
                        for (var key in jsondata) {
                            keys.push(key);
                             $("#diskTime").on("click", "#"+key, function () {
                                defaultDisk(jsondata[key], key);
                            });
                        }
                        diskTimes(keys);
                        defaultDisk(jsondata[keys[0]], keys[0]);

                    }
                 }
            });
        });
        function defaultDisk(queryTime, defaultTime) {
            defaultRates = [];
            defaultTimes = [];
            for (j = 0,len=queryTime.length; j < len; j++){
                defaultRates.push(queryTime[j].disk_rate);
                defaultTimes.push(queryTime[j].add_time);
            }
            var data = {
                series:  [{"color": "#f9ce1d", "name": defaultTime+" 磁盘使用率", "data": defaultRates}],
                categories: defaultTimes
            };
            createKendoLineChart({
                selector: '#chart_1560496773217', // 图表容器
                data: data // 图表数据
            });
        }
        function diskTimes(times) {
            var _html = "";
            for (j = 0,len=times.length; j < len; j++) {
                var aTime = times[j];
                _html = _html+"<li class='info' id='"+aTime+"'> <div class=''> 磁盘使用率 <span class='timeline-simple-date'>"+aTime+"</span></div></li>";
            }
            $("#diskTime").html(_html);
            onDiskClick();
        }
        function onDiskClick() {
            var _clickJS = '<script>';
            for (var key in jsondata) {
                var strKey = key.replace(/\-/g,"");
                 _clickJS = _clickJS + '$("#diskTime").on("click","'+'#diskData_'+strKey+'",function(){defaultDisk(jsondata["'+key+'"], "'+key+'");});\n'
            }
            _clickJS = _clickJS + '<\/script>';
            $("#diskTime").after(_clickJS);
        }

        function diskUsage(datas) {
            for (j = 0,len=datas.length; j < len; j++) {
                var strTime = datas[j].add_time;
                var thisDate = strTime.split(" ")[0];
                var thisTime = strTime.split(" ")[1];
                if (jsondata[thisDate]) {
                    jsondata[thisDate].push({"add_time": thisTime, "disk_rate": datas[j].disk_rate});
                }else {
                    jsondata[thisDate]=[{"add_time": thisTime, "disk_rate": datas[j].disk_rate}];
                }
            }
        }

    </script>
</body>

</html>